.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.card-container {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}



.card-container.flipped .card {
  transform: rotateY(180deg);
}
.card {
  width: 100%;
  height: 100%;
  position: relative; /* добавим */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute; /* всё же тут безопасно */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: white;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.back {
  transform: rotateY(180deg);
}

.word {
  font-size: 24px;
  font-weight: bold;
  color: #2e7d32;
}

.transcription {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.translation {
  font-size: 22px;
  color: #3f5e1b;
}

.show-btn {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 16px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.close-btn {
  margin-top: 56px;
  padding: 6px 12px;
  font-size: 16px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
